{
  "asset_dir": "/Users/richardalbertleddy/Documents/GitHub/mini_link_servers/blog/data/media/",
  "entries_dir": "/Users/richardalbertleddy/Documents/GitHub/mini_link_servers/blog/data/blog/",
  "crypto": {
    "key": "7x!A%D*G-13NdRgUkXp2s5v8y/B?E(H+",
    "algorithm": "aes-256-cbc",
    "iv": "TiccVNDCXNU3aSPPObz3Kg=="
  }
}