{
  "media_dir": "/Users/richardalbertleddy/ELEMENTS/pub_media/$media_type/",
  "entries_dir": "/Users/richardalbertleddy/ELEMENTS/data/$asset_type/",
  "crypto": {
    "key": "7x!A%D*G-13NdRgUkXp2s5v8y/B?E(H+",
    "algorithm": "aes-256-cbc",
    "iv": "TiccVNDCXNU3aSPPObz3Kg=="
  },
  "ipfs": {
    "dir" : "uploader-ipfs-repo",
    "swarm_tcp" : 4024,
    "swarm_ws" : 4025,
    "api_port" : 5024,
    "tcp_gateway" : 9292
  },
  "relayer" : {
    "files_only" : false,
    "output_dir" : "fail_over_persistence",
    "output_file" : "/user_data.json",
    "max_pending_messages" : false,
    "file_shunting" : false,
    "max_reconnect" : 24,
    "reconnect_wait" : 5,
    "attempt_reconnect" : true,
    "paths" : [
      {
        "path" : "user",
        "port" : 5114,
        "address" : "localhost",
        "tls" : {
          "client_key" : "keys/cl_ec_key.pem",
          "client_cert" : "keys/cl_ec_crt.crt",
          "server_cert" : "keys/ec_crt.crt"
        }
      },
      {
        "path" : "persistence",
        "port" : 5116,
        "address" : "localhost",
        "tls" : {
          "client_key" : "keys/cl_ec_key.pem",
          "client_cert" : "keys/cl_ec_crt.crt",
          "server_cert" : "keys/ec_crt.crt"
        }
      }
    ]
  }
}
