{
  "media_dir": "/Users/richardalbertleddy/ELEMENTS/pub_media/$media_type/",
  "entries_dir": "/Users/richardalbertleddy/ELEMENTS/data/$asset_type/",
  "crypto": {
    "key": "7x!A%D*G-13NdRgUkXp2s5v8y/B?E(H+",
    "algorithm": "aes-256-cbc",
    "iv": "TiccVNDCXNU3aSPPObz3Kg=="
  },
  "relayer" : {
    "files_only" : false,
    "output_dir" : "fail_over_persistence",
    "output_file" : "/user_data.json",
    "max_pending_messages" : false,
    "file_shunting" : false,
    "max_reconnect" : 24,
    "reconnect_wait" : 5,
    "attempt_reconnect" : true
    "paths" : [
      {
        "path" : "user",
        "port" : 5114,
        "address" : "localhost"
      }
    ]
  }
}
